---
---

@import "{{ site.theme }}";

header, body {
    text-align: center;
}

header h1, body h2 {
    letter-spacing: 4px;
}

#social-icons .fab {
    font-size: 150%;
    padding: 1%;
}

#technologies-icons {
    .fab, .devicons {
        font-size: 250%;
        padding: 1%;
    }
}