---
---

@import "{{ site.theme }}";

header, body {
    text-align: center;
}

header h1, body h2 {
    letter-spacing: 4px;
}

#social-icons  {
    .fab, .fas {
        font-size: 150%;
        padding: 1%;
        padding-bottom: 0%;
    }
}

#technologies-icons {
    font-size: 250%;
    padding: 1%;
}