---
---

@import "{{ site.theme }}";

header, body {
    text-align: center;
}

#social-icons .fab {
    font-size: 150%;
    padding: 1%;
}

#technologies .fab {
    font-size: 250%;
    padding: 1%;
}