<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<link rel="stylesheet" type="text/css" href="home.css">
<script src="https://kit.fontawesome.com/3a4d76981b.js" crossorigin="anonymous"></script>

<nav id="patterns-nav" class="patterns" role="navigation">
    <h2 class="vh">{{ T "nav_main_navigation" }}</h2>
    <button id="menu-button" aria-expanded="false">
        <svg viewBox="0 0 50 50" aria-hidden="true" focusable="false">
            <use href="#menu"></use>
        </svg>
        {{ T "nav_button_menu" }}
    </button>
    {{ $current := . }}
    <ul id="patterns-list">
        {{ range .Site.Menus.nav }}
        <li class="pattern">
            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq .Name "Posts") (eq $current.Section "post")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
            <a href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}>
                <span class="text">{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>

<style>
    #social-icons a {
        font-size: 150%;
        padding: 1% 1% 0 1%;
        padding-bottom: 0%;
        color:antiquewhite;
        border-bottom: 0;
    }
</style>

<div id="social-icons" style="text-align:center">
    <a href="https://soundcloud.com/sylviamoss">
        <i class="fa-brands fa-soundcloud"></i>
    </a>
    <a href="https://www.linkedin.com/in/sylviamossm/">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/sylviamoss">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="mailto:hello@sylviamoss.info">
        <i class="fa-solid fa-envelope"></i>
    </a>
    <!-- <a href="https://github.com/sylviamoss/sylviamoss.github.io/raw/master/SylviaMossResume.pdf" title="Resume">
      <i class="fas fa-download"></i>
    </a> -->
</div>