{{ define "main" }}
<main id="main">
  {{ .Content }}

  <ul class="patterns-list" id="list">
    {{ range first 3 (where site.RegularPages "Section" "post") }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
            <use href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
      </h2>
    </li>
    {{ end }}
  </ul>
  <br>
  <a href="/post/"> More...</a>

</main>
{{ end }}